@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;600&family=Kaushan+Script&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=Pacifico&family=Poppins:ital,wght@1,300&family=Roboto+Mono:ital,wght@1,200&display=swap");

.morelodging-page {
  margin-top: 130px;
  font-family: "Epilogue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stretch {
  display: flex;
  width: 80%;
  align-items: center;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px;
  margin: 15px;
}
.ml-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 13px;
  border-radius: 5px;
}
.text-section {
  margin: 20px 0px;
}
.stretch p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.click-btn {
  background-color: #0077b6;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-weight: 600;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
}
.head-txt {
  display: flex;
  justify-content: space-between;
}
.reviews {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rate-number {
  background-color: #0077b6;
  color: white;
  margin: 6px;
  padding: 5px;
  border-radius: 6px 0px;
}
@media (max-width: 900px) {
  .stretch {
    flex-direction: column;
  }
  .head-txt {
    display: block;
  }
  .reviews {
    justify-content: flex-start;
    margin: 2px;
  }
  .ml-img {
    width: 100%;
  }
  .click-btn {
    margin-bottom: 20px;
  }
}
