.body {
  display: flex;
  flex-direction: column;
  z-index: 999;
}
.menu span {
  color: white;
  width: 30px;
  height: 4px;
  position: relative;
  justify-content: center;
  cursor: pointer;
  background-color: black;
  position: absolute;
  border-radius: 7px;
  transition: 0.3s;
}
.menu span:nth-child(1) {
  transform: translateY(10px);
}
.menu span:nth-child(3) {
  transform: translateY(-10px);
}
.menu.active span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}
.menu.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}
.menu.active span:nth-child(3) {
  transform: translateX(60px);
}
